<div class="help-container">
    <div class="help-text">
    <h1>How we can help...</h1>
    <p>We offer a wide range of procedures to help you to get the perfect smile.
    <br>
    <a href="/request">Request a quote</a></p>
    </div>

    <div class="btn-wrapper">
        <button class="request-btn">Request a quote</button>
    </div>
</div>

<style>
    .help-container {
        border: 1px solid;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 2rem 3rem;
        font-family: "Roboto";
    }

    .help-container a {
        text-decoration: underline;
        color: black;
    }

    .request-btn {
        background-color: black;
        color: white;
        border-radius: 10px;
        padding: 16px;
    }
</style>