<div class="small-request">
    <label id="full-name"> <span>Full name</span>
        <input type="text" name="full-name">
    </label>
    <label id="phone-number"> <span>Phone number</span>
        <input type="text" name="phone-number">
    </label>
    <label id="message-text"><span>Message</span>
        <input type="text" name="message" placeholder="Type your message">
    </label>

    <button class="submit-btn">Submit</button>
</div>