---
import AboutUs from "../components/AboutUs.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="about-us-container">
    <AboutUs />
  </div>
</Layout>

<style>
  .about-us-container {
    margin: 50px auto;
    padding: 0 2rem;
  }
</style>
