---
import OurService from "../components/OurService.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Header />
<div class="our-service-container">
  <OurService />
</div>
<Footer />

<style>
  .our-service-container {
    margin: 50px auto;
    padding: 0 2rem;
  }
</style>
